In [17]:
 # Q1 for loop : it is the statement or array execute squencely if conditon is match.
    # example
a=[1,2,3,4,5,6]
for i in a:
    print(i)

1
2
3
4
5
6

In [1]:
# Q3 while loop :it is the statement or array execute one by one if condition has true otherwise 
# not enter in loop
a = 1
while a<=10:
    print (a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

In [5]:
# Q2 using for loop

In [6]:
sum_of_number = 0
product_of_number = 1
for i in range(1,11):
    sum_of_number += i
    product_of_number *= i
print( "sum of first 10 natural number:", sum_of_number)
print("product of first 10 natural number:", product_of_number)

sum of first 10 natural number: 55
product of first 10 natural number: 3628800

In [7]:
sum_of_number = 0
product_of_number = 1
counter =  1
while counter<=10:
    sum_of_number += counter
    product_of_number *= counter
    counter += 1
print( "sum of first 10 natural number:", sum_of_number)
print("product of first 10 natural number:", product_of_number)

sum of first 10 natural number: 55
product of first 10 natural number: 3628800

In [65]:
#Q3
units_consumed = int(input("Enter the number of units consumed: "))

total_bill = 0

charge_1 = 4.5 
charge_2 = 6  
charge_3 = 10  
charge_4 = 20   

if units_consumed <= 100:
    total_bill = units_consumed * charge_1
elif units_consumed <= 200:
    total_bill = 100 * charge_1 + (units_consumed - 100) * charge_2
elif units_consumed <= 300:
    total_bill = 100 * charge_1 + 100 * charge_2 + (units_consumed - 200) * charge_3
else:
    total_bill = 100 * charge_1 + 100 * charge_2 + 100 * charge_3 + (units_consumed - 300) * charge_4

print("Total electricity bill: Rs.", total_bill)

Enter the number of units consumed:  310

Total electricity bill: Rs. 2250.0

In [54]:
# Q4
l=[]
for i in list(range(1,101)):
    cube = i ** 3
    if cube%4 ==0 or cube%5==0:
        l.append(i)
print(l)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [26]:
# Q5
s1 = "I want to become a data scientist"
s2= s1.lower()
count=0
l1=["a" ,"i" ,"o","u","e"]
for s3 in s2:
    if s3 in l1:
        count = count+1
print("number of vowel",count)

number of vowel 12

In [50]:
# Using a for loop
numbers = list(range(1, 101))
result_list = []

for num in numbers:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        result_list.append(num)

print(result_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]