In [ ]:
# Q1
marks = int(input("Enter you marks "))
if marks >90:
    print ("Grade A")
if marks >80 and marks <=90:
    print ("Grade B")
if marks >=60 and marks <=80:
    print ("Grade C")
elif marks <60:
    print("Grade D")

Enter you marks  12

Grade D

In [1]:
# Q2_30Jan_assignment
cost_price = float(input ( "Enter the cost in Rs "))
if cost_price >100000:
    print( "tax would be 15%")
if cost_price >50000 and cost_price<=100000:
    print("tax would be 10%")
elif cost_price <=50000:
    print("tax would be 5%")

Enter the cost in Rs  300

tax would be 5%

In [29]:
#Q3
name_of_city = input("Enter the City Name")
if name_of_city == "delhi":
    print("Red Fort")
if name_of_city == "agra":
    print("taj mahal")
elif name_of_city == "jaipur":
    print("jal mahal")

Enter the City Name jaipur

jal mahal

In [7]:
# Q4
number = int(input( "Enter the number: "))
count = 1
while number<10:
    print (number*count/3)
    break
else:
    print("thisnumber is greater then 10 ")

Enter the number:  3

this is divisible by 3

In [33]:
# Q5 we use while loop because it's check the condition to givem and 
# go to the one by one and match the condition and give the return until condition will not true.

# Ask the user for the value of N
N = int(input("Enter a number: "))

# Initialize variables
sum = 0
counter = 1

# Use a while loop to calculate the sum of integers from 1 to N
while counter <= N:
    sum += counter  # Add the current number to the sum
    counter += 1     # Move to the next number

# Print the result
print(f"The sum of integers from 1 to {N} is: {sum}")

Enter a number:  555

The sum of integers from 1 to 555 is: 154290

In [35]:
# Q6
# Pattern 1: Square
row = 1
while row <= 5:
    col = 1
    while col <= 5:
        print("*", end="")
        col += 1
    print()
    row += 1

*****
*****
*****
*****
*****

In [2]:
# Pattern triangle
row = 1
while row <= 5:
    col = 1
    while col <=row :
        print("*", end="")
        col += 1
    print()
    row += 1

*
**
***
****
*****

In [4]:
# Pattern 3: Pyramid Pattern
rows = 4
i = 1

while i <= rows:
   
    j = 1
    while j <= rows - i:
        print(" ", end=' ')
        j += 1

   
    k = 1
    while k <= i:
        print("*", end=' ')
        k += 1
    print()
    i += 1

      *
    * *
  * * *
* * * *

In [ ]:
# Q7 
number =10
while number>=1:
    print(number)
    number-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Q8 
number =10
while number>=1:
    print(number)
    number-=1